//-- Global Variables

// Vertical Step
$grid-vertical-step:           36px !default;

// Font Family
$font-family-body:            'Lato', sans-serif;
// $font-family-headings:        'Helvetica', sans-serif;

// Colors
$white:                        #ffffff;
$black:                        #000000;

$gray-darker:                  #343b43;
$gray-dark:                    #424444;
$gray:                         #787878;
$gray-light:                   #cdcdcd;
$gray-lighter:                 #f5f5f5;


$primary:                      #00b6d4;
$accent:                       #f3ab6b;
$info:                         #007bbb;
$success:                      #00e676;
$warning:                      #ff5f2c;
$danger:                       #ff5252;

// Gradient
$gradient-from:                #e833b0;
$gradient-to:                  #ac32e4;

// Borders
$border:                       1px solid #e7e7e7;
$border-light:                 1px solid rgba(255, 255, 255, .18);

// Shadows
$basic-box-shadow:             0 22px 36px -12px rgba(0, 0, 0, .2);

//-- Media Breakpoints
$desktop:   		   'screen and (max-width: 1200px)';
$tablet-land:      'screen and (max-width: 992px)';
$tablet-port:    	 'screen and (max-width: 768px)';
$mobile-land:		 	 'screen and (max-width: 576px)';
$mobile-port:		 	 'screen and (max-width: 360px)';
$menu-collapse: 	 $tablet-port;
