//-- Scaffolding ( Some Super Global Styles)

// Body Styles
body {
  background: {
    position: center;
    color: $white;
    repeat: no-repeat;
    size: cover;
  }
  // overflow-x: hidden;
}

.container,
.container-fluid {
  margin: {
    right: auto;
    left: auto;
  }
  padding: {
    right: 30px;
    left: 30px;
  }
}

.container       {max-width: 950px;}
.container-fluid {max-width: 1920px;}

.site__wrapper {
  position: relative;
  width: 100%;
}



// -- Media
@media #{$mobile-land} {
  .container,
  .container-fluid {
    padding: {
      right: 15px;
      left: 15px;
    }
  }
}
