//-- Global Typography Styles

// Local Variables Section
$font-size-base:               18px !default;
$line-height-base:             1.66 !default;

$font-size-lead:               48px !default;
$font-size-xl:                 24px !default;
$font-size-lg:                 20px !default;
$font-size-md:                 18px !default;
$font-size-sm:                 16px !default;
$font-size-xs:                 14px !default;

$font-size-h1:                 48px !default;
$font-size-h2:                 30px !default;
$font-size-h3:                 18px !default;
$font-size-h4:                 14px !default;
$font-size-h5:                 12px !default;
$font-size-h6:                 10px !default;

$headings-color:               $gray-darker !default;

$link-color:                   $gray-darker !default;
$link-hover-color:             $white !default;


// Styles Section

// Body
body {
  color: $gray-dark;
  font: {
    family: $font-family-body;
    size: $font-size-base;
  }
  line-height: $line-height-base;
}

html * {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Headings
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: {
    top: 0;
    bottom: .5em;
  }
  color: $headings-color;
  font: {
    family: $font-family-body;
    weight: 900;
    style: normal;
  }
}

h1, .h1 {
  font-size: $font-size-h1;
  line-height: $line-height-base;

  @media #{$tablet-land} {
    font-size: floor($font-size-h1 * .7);
  }
}
h2, .h2 {
  font-size: $font-size-h2;
  line-height: $line-height-base;

  @media #{$tablet-land} {
    font-size: floor($font-size-h2 * .7);
  }
}
h3, .h3 {
  font-size: $font-size-h3;
  font-weight: 400;
  line-height: $line-height-base;

  @media #{$tablet-land} {
    font-size: floor($font-size-h3 * .8);
  }
}
h4, .h4 {
  font-size: $font-size-h4;
  font-weight: 400;
  line-height: $line-height-base;
}
h5, .h5 {
  font-size: $font-size-h5;
  font-weight: 400;
  line-height: $line-height-base;
}
h6, .h6 {
  font-size: $font-size-h6;
  font-weight: 400;
  line-height: $line-height-base;
}

// Body text
p, .p {
  margin: 0 0 $grid-vertical-step;
}
small, .small { font-size: 70%; }

// Text predefined sizes
.text-lead { font-size: $font-size-lead; }
.text-xl { font-size: $font-size-xl; }
.text-lg { font-size: $font-size-lg; }
.text-md { font-size: $font-size-md; }
.text-sm { font-size: $font-size-sm; }
.text-xs { font-size: $font-size-xs; }

// Inline links
a {
  transition: .25s;
  color: $gray-dark;
  text-decoration: none;
  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
  &:focus { outline: none; }
}
