// -- Colors

// Text
.text-white {color: $white;}
.text-black {color: $black;}

.text-primary {color: $primary;}
.text-warning {color: $warning;}
.text-success {color: $success;}

.text-gray {color: $gray;}

// Background
.bg-white {background-color: $white;}
.bg-black {background-color: $black;}

.bg-primary {background-color: $primary;}
.bg-warning {background-color: $warning;}
.bg-success {background-color: $success;}


// -- Borders

// Theme Colors
.border         {border: 1px solid transparent;}
.border-primary {border-color: $primary;}
.border-warning {border-color: $warning;}
.border-success {border-color: $success;}


// -- Images
.img-responsive {
  max-width: 100%;
}


// -- Fonts
.font-italic {font-style: italic;}
