// -- Local Variables Section

// General
$button-padding-y: .7em !default;
$button-padding-x: 3.25em !default;
$button-shadow-height: .5em !default;



// -- Default Styles Section
.btn {
  display: inline-block;
  position: relative;
  padding: $button-padding-y $button-padding-x;
  transform: translateZ(0);
  transition: all .35s;
  border: 0;
  outline: none;
  background: {
    color: transparent;
    image: none;
  }
  color: $white;
  font-size: 20px;
  white-space: nowrap;
  box-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  z-index: 1;
  text: {
    transform: uppercase;
    decoration: none;
    align: center;
  }
  box-sizing: border-box;
  user-select: none;
  &::after {
    position: absolute;
    bottom: -($button-shadow-height);
    left: 0;
    width: 100%;
    height: $button-shadow-height;
    transition: all .35s;
    content: '';
    z-index: -1;
    pointer-events: none;
  }
  &:hover,
  &.hover {
    &::after {
      bottom: 0;
      height: 100%;
      pointer-events: all;
    }
  }
  &.disabled {
    pointer-events: none;
    &::after {
      bottom: 0;
      height: 100%;
      background-color: $gray !important;
    }
  }

  // Btn Primary
  &.btn-primary {
    background-color: $primary;
    &::after {
      background-color: #008fa7;
    }
  }

  // Btn Accent
  &.btn-accent {
    background-color: $accent;
    &::after {
      background-color: #ca8f57;
    }
  }



  // -- Media
  @media #{$mobile-land} {
    font-size: 16px;
  }
}
