// -- Local Variables Section
$line-offset: .2em !default;



// -- Styles Section
.highlight--underline {
  display: inline-block;
  position: relative;
  &::after {
    display: block;
    position: absolute;
    bottom: -($line-offset);
    left: 0;
    width: 100%;
    height: 5px;
    background-color: $primary;
    pointer-events: none;
    z-index: 1;
    content: '';
  }
}
