// -- Local Variables Section



// -- Styles Section
// General
[class^='section__'], [class*=' section__'] {
  margin: {
    right: auto;
    left: auto;
  }
  padding: {
    right: 30px;
    left: 30px;
  }

  .section-container {
    max-width: 960px;
    margin: {
      right: auto;
      left: auto;
    }
  }
}


// Hero Section Start
.section-hero {
  min-height: 100vh;
}

.section__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: {
    position: 0 50%;
    size: cover;
    image: url('../img/hero-img.png');
    repeat: no-repeat;
    attachment: fixed;
  }
}

.main__title {
  color: $white;
  text-shadow: 0 1px 0 rgba($black, .5);
}
.main__content {
  width: 30%;
}
// Hero Section End



// 'Partners' Section Start
.section__partners {
  .partners-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: {
      top: 25px;
      bottom: 25px;
    }
  }
}
.partners__logo {
  padding: {
    right: 20px;
    left: 20px;
  }
  &:first-child {padding-left: 0;}
  &:last-child {padding-right: 0;}
}
// 'Partners' Section End



// 'About' Section Start
.section__about {
  padding-top: 90px;
  background-color: $primary;
  color: $white;
  .section-title {
    color: $white;
    text-align: center;
  }
  .section-image {
    position: relative;
    min-height: 230px;
    margin-top: 60px;
    overflow: hidden;
    .img-responsive {
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
// 'About' Section End



// 'Services' Section Start
.section__services {
  padding: {
    top: 60px;
    bottom: 60px;
  }
  text-align: center;
  .btn {margin-top: 30px;}
}
// 'Services' Section End



// 'Presentation' Section Start
.section__presentation {
  max-height: 550px;
  margin-bottom: 110px;
  padding: {
    top: 90px;
  }
  background: {
    position: 50% 50%;
    color: $info;
    size: cover;
    image: url('../img/presentation-bg.png');
    attachment: fixed;
  }
  .presentation__slider {
    max-width: 756px;
    margin: {
      right: auto;
      left: auto;
    }
  }
}
// 'Presentation' Section End



// 'Contact' Section Start
.section__contact {
  margin-bottom: 90px;
  padding: {
    right: 0;
    left: 0;
  }
  background-color: $info;
  color: $white;
  .section-title {
    color: $white;
  }

  .section-inner {
    display: flex;
    [class^='column-'],
    [class*=' column-'] {
      flex: 0 50%;
      padding: 30px;
    }
    .column-left {
      min-height: 80vh;
      background: {
        position: 50% 0%;
        color: $info;
        size: cover;
        image: url('../img/contact-bg.png');
      }
    }
    .column-right {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
// 'Contact' Section End



// -- Media
@media #{$desktop} {
  .main__content {
    width: 40%;
  }
}

@media #{$tablet-land} {
  .main__content {
    width: 60%;
  }
}

@media #{$tablet-port} {
  .section__main {
    background-position: 20% 50%;
  }

  .section__partners {
    .partners-inner {flex-wrap: wrap;}
  }
  .partners__logo {
    max-width: 160px;
    margin: 0 auto;
    padding: 20px;
    &:first-child {padding-left: 20px;}
    &:last-child {padding-right: 20px;}
  }

  .section__presentation {
    padding: {
      top: 30px;
      bottom: 30px;
    }
    .presentation__slider {
      max-height: 100%;
    }
  }

  .section__contact {
    .section-inner {
      flex-direction: column;
      [class^='column-'],
      [class*=' column-'] {
        min-height: 50vh;
      }
    }
  }
}

@media #{$mobile-land} {
  .section__main {
    background-attachment: scroll;
    background-position: 35% 50%;
  }

  .section__presentation {
    background-attachment: scroll;
  }
}
