// -- Local Variables Section



// -- Styles Section
.site__footer {
  padding-top: 90px;
  border-top: 3px solid $gray-light;
}

.footer__nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    padding: 0 35px;
  }
  a {
    color: $gray;
    font-weight: 700;
    &:hover {
      color: $accent;
    }
  }
}

.footer__socials {
  display: flex;
  justify-content: space-between;
  max-width: 120px;
  margin: 50px auto;
  .square {
    display: block;
    width: 13px;
    height: 13px;
    background-color: $gray-light;
  }
}

.footer__location {
  text-align: center;
  h4 {
    color: $gray-light;
  }
  a {
    color: $accent;
    font-size: 14px;
    font-weight: 700;
  }
}

.footer__copyright {
  margin-top: 60px;
  padding-top: 30px;
  padding-bottom: 60px;
  border-top: 1px solid $gray-light;
  text-align: center;
  h5 {color: $gray-light;}
}



// -- Media
@media #{$tablet-port} {
  .footer__nav__list {
    li {padding: 0 15px;}
  }
}

@media #{$mobile-land} {
  .footer__nav__list {
    flex-direction: column;
    li {padding: 10px 0;}
  }
}
