// -- Local Variables Section
$header-offset-y:    40px !default;
$nav-items-offset-x: 40px !default;

$line-offset: $header-offset-y;



// -- Styles Section
.site__header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color .35s;
  z-index: 999;

  .menu-toggle {display: none;}

  &.skin--light {
    background-color: $white;
    box-shadow: 0 3px 6px rgba($black, .12);
    .header__inner {
      padding: {
        top: ($header-offset-y / 2);
        bottom: ($header-offset-y / 2);
      }
    }
    .site__nav__list {
      > li {
        > a:hover {color: $primary;}
      }
      a {
        &.highlight--underline {
          color: $primary;
          &::after {
            bottom: -($line-offset / 2) - 1px;
          }
        }
      }
    }
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: {
    top: $header-offset-y;
    bottom: $header-offset-y;
  }
  transition: padding .35s;
}

.header__logo {height: 27px;}

.site__nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.site__nav__list {
  display: flex;
  align-items: center;
  > li {
    margin-left: $nav-items-offset-x;
    > a {font-weight: 600;}
  }
  a {
    font-size: $font-size-sm;
    &::after {
      transition: all .35s;
      content: '';
      opacity: 0;
    }
    &.highlight--underline {
      color: $white;
      &::after {
        bottom: -($line-offset);
        opacity: 1;
      }
    }
  }
}

.site__nav__list-item__list-inner {
  position: relative;
  &:hover {
    .highlight--underline {
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
    .site__nav__list__dropdown {
      transform: rotate3d(0, 0, 0, 0);
    }
  }
}

.site__nav__list__dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  min-width: 200px;
  transform: rotate3d(1, 0, 0, 90deg);
  transition: all .35s;
  background-color: $accent;
  text-align: right;
  z-index: 9;
  li {
    padding: {
      right: 10px;
      left: 10px;
    }
    &:first-child {padding-top: 10px;}
    &:last-child {padding-bottom: 10px;}
  }
  a {
    display: inline-block;
    color: $white;
    &:hover {
      margin-right: 5px;
    }
  }
}



// -- Media
@media #{$tablet-port} {
  .site__header {
    .menu-toggle {
      display: inline-block;
      position: relative;
      margin-right: 15px;
      z-index: 999;
      .hamburger-inner {
        &,
        &::before,
        &::after {background-color: $gray-darker;}
      }
    }
    &.menu--toggle {
      .header__menu {
        transform: rotate3d(0, 0, 0, 0);
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .header__inner {position: relative;}

  .header__logo {height: auto;}

  .header__menu {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 45px;
    transform: rotate3d(0, 1, 0, 90deg);
    transition: all .35s;
    background-color: $white;
    opacity: 0;
    overflow: auto;
    visibility: hidden;
    z-index: 99;
  }

  .site__nav__list {
    flex-direction: column;
    align-items: flex-start;
    > li {
      margin-top: 25px;
      margin-left: 0;
      > a {
        font-size: 26px;
      }
    }
    a {
      &.highlight--underline {
        color: $black !important;
      }
    }
  }

  .site__nav__list__dropdown {
    position: static;
    margin-top: 15px !important;
    transform: rotate3d(0, 0, 0, 0);
    background-color: transparent;
    text-align: left;
    li {
      padding: {
        right: 20px;
        left: 20px;
      }
    }
    a {
      color: $gray-dark;
      font-size: 18px;
    }
  }
}
